.container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    border: 1px solid red; 
}

.square {
    height: 20px; 
    width: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.hovered-square {
    background-color: palevioletred;
}